@model EntertainmentGuild.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Dashborad</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"> Product</a></li>
                    <li class="breadcrumb-item active">Create</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-md-8 offset-2">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="text-center">
                            Add New Product
                        </h5>
                    </div>
                    <div class="card-body">
                        <form method="post" asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            Name <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <input asp-for="Name" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            Author <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <input asp-for="Author" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            Description <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <textarea asp-for="Description" class="form-control" cols="6"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            Genre <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <select asp-for="Genre" class="form-control" asp-items="ViewBag.Genre"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            sub Genre <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <input asp-for="subGenre" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            Published <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <input asp-for="Published" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            Last Updated By <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <select asp-for="LastUpdatedBy" class="form-control" asp-items="ViewBag.LastUpdatedBy"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <label class="col-sm-6 col-form-label">
                                            Last Updated <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-sm-12">
                                            <input asp-for="LastUpdated" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row ml-3">
                                <div class="col-md-4">
                                    <a class="btn btn-primary" asp-action="Index">Back to page</a>
                                </div>
                                <div class="col-md-2">
                                    <input type="submit" value="Create" class="btn btn-warning" />

                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

