
@{
    ViewData["Title"] = "About";
}

<style>
    .about-img img {
        height: 100%;
        width: 100%;
        border-radius: 10px;
    }
</style>
<div class='staic-banner'>
    <div class="container">
        <h2>About Us</h2>
        <p class="Static-navigation">
            <a href="/Home/Index">Home</a>
            <i class="bi bi-chevron-right"></i>
            <a>About Us</a>
        </p>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h1>About Company</h1>
            <p>
                Welcome to Entertainment Guild, where you can find your favorite books, movies and games.
            </p>
        </div>
        <div class="col-md-6">
            <div class="about-img">
               
            </div>
        </div>
    </div>
</div>
