@model EntertainmentGuild.DTO.UserDTO
@{
    ViewData["Title"] = "AdminLogin";
    Layout = "~/Views/Shared/_Login.cshtml";
}

<div class="login-form-wrap">
    <div class="text-center">
        <h1 class="form-heading">Admin Login</h1>
    </div>
    <form class="form form-login" asp-action="AdminLogin" method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div>
            <div class="techno-input-group">
                <label for="" class="techno-label">User Name<span>*</span></label>
                <div class="techno-icon-input">
                    <span><i class="bi bi-person-circle"></i></span>
                    <input  class="form-control" asp-for="UserName" placeholder="User name" autocomplete="username" aria-required="true" />
                </div>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="techno-input-group">
                <label for="" class="techno-label">Password<span>*</span></label>
                <div class="techno-icon-input">
                    <span><i class="bi bi-lock"></i></span>
                    <input class="form-control" type="password" placeholder="Password" name="Password" autocomplete="current-password" aria-required="true" required />
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="techno-input-group">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <input class="form-check-input" id="Remember"  />
                        <label for="Remember" class="checkbox-label">Remember Me</label>
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end">
                            <a id="forgot-password" asp-action="ForgetPassword" class="techno-forget-password">
                                Forgot your
                                password?
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <a  class="techno-forget-password" asp-action="Register" >
                            don't have Account?
                        </a>
                    </div>
                </div>
            </div>
            <div class="techno-input-group">
                <input type="submit" class="default-button w-100 hover-button" value="Login" />
            </div>
            <div class="w-75 mx-auto text-center">
                <p class="techno-form-context">
                    By providing your email address, you agree to our
                    Privacy Policy and Terms of Service.
                </p>
            </div>
        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}