@model IEnumerable<EntertainmentGuild.ViewModel.ShopViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    .default-button.text-capitalize.hover-button {
        text-decoration: none;
    }

    .banner-button.hover-button {
        text-decoration: none;
    }

        .banner-button.hover-button.animate__animated animate__fadeInUp {
            text-decoration: none;
        }
</style>
<div class="banner">
    <div id="carouselExampleIndicators" class="carousel carousel-fade" data-bs-ride="carousel">
        <div class="carousel-indicators slider-indecators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                    class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner d-flex align-items-center">
            <div class="carousel-item active">
                <div class="banner-wrap-img">
                    <img src="~/assets/img/banner/banner1.webp" class="baner-animation" alt="">
                </div>
                <div class="banner-wrap-label">
                    <div class="banner-heading-div">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                   
                                    <span>
                                        <h1 class="banner-heading  animate__animated  animate__slideInRight animate__slow">
                                            BOOKS MOVIES
                                        </h1>
                                        <h1 class="banner-heading animate__animated animate__slideInLeft animate__slow">
                                            ANNNDDD GAAAAAMEEESSS!
                                        </h1>
                                    </span>
                                    
                                    <a class="banner-button hover-button animate__animated animate__fadeInUp" href="/Home/Shop">
                                        Explore
                                        More
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner-wrap-img">
                    <img src="~/assets/img/banner/banner2.webp" class="baner-animation" alt="">
                </div>
                <div class="banner-wrap-label">
                    <div class="banner-heading-div">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    
                                    <span>
                                        <h1 class="banner-heading  animate__animated  animate__slideInRight animate__slow">
                                            BOOKS MOVIES
                                        </h1>
                                        <h1 class="banner-heading animate__animated animate__slideInLeft animate__slow">
                                            ANNNDDD GAAAAAMEEESSS!
                                        </h1>
                                    </span>
                                   
                                    <a class="banner-button hover-button animate__animated animate__fadeInUp" href="/Home/Shop">
                                        Explore
                                        More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner-wrap-img">
                    <img src="~/assets/img/banner/banner3.jpg" class="baner-animation" alt="">
                </div>
                <div class="banner-wrap-label">
                    <div class="banner-heading-div">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                   
                                    <span>
                                        <h1 class="banner-heading  animate__animated  animate__slideInRight animate__slow">
                                            BOOKS MOVIES
                                        </h1>
                                        <h1 class="banner-heading animate__animated animate__slideInLeft animate__slow">
                                            ANNNDDD GAAAAAMEEESSS!
                                        </h1>
                                    </span>
                                   
                                    <a class="banner-button hover-button animate__animated animate__fadeInUp" href="/Home/Shop">
                                        Explore
                                        More
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="carousel-control-prev sliders-button mx-3 shadow" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <i class="bi bi-arrow-left"></i>
            </button>
            <button class="carousel-control-next sliders-button mx-3 shadow" type="button"
                    data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <i class="bi bi-arrow-right"></i>
            </button>
        </div>
    </div>
</div>
<br />
<br />
<br />
<h2 class="text-center">ANY GENRE TOU WANT</h2>
<br />
<br />
<div class="container">
    
    <div class="shop-card-section">
        <div class="row">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="custom-card">
                            <div class="card-img">
                                <div class="card-static-img">
                                    <img src="~/assets/img/product.png" />
                                </div>

                                <div class="card-badge">
                                    <div class="new-badge d-inline-block">
                                        <span>new</span>
                                    </div>
                                </div>
                                <div class="card-bottom-inner-bar">
                                    <div class="inner-bar-badge">
                                        @if (item.Quantity > 0)
                                        {
                                            @if (ViewBag.Name != null)
                                            {
                                                <a title="Add to Cart" asp-action="ProductDetail" asp-route-id="@item.proid">
                                                    <i class="bi bi-cart"></i>
                                                </a>
                                            }
                                            else
                                            {
                                                <h6 class="text-danger text-center">Login to buy the product</h6>

                                            }

                                        }
                                        else
                                        {
                                            <h6 class="text-danger text-center">Sold Out</h6>

                                        }

                                    </div>
                                </div>

                            </div>
                            <div class="card-detail">
                                <div class="card-product-label">
                                    <!-- porduct-label -->
                                    <h6>@item.name</h6>
                                </div>

                                <!-- product-price -->
                                <div class="product-price-section">
                                    <h3 class="price">
                                        <span class="Currency">$</span>@item.price
                                    </h3>
                                </div>

                            </div>
                        </div>
                    </div>
                }

            }
            else
            {
                <p class="text-center">No product Found</p>

            }

        </div>
    </div>
</div>

<br />
<br />
<br />
<br />

